/* 기본 css 스타일 없애기 */

* {
  margin: 0;
  padding: 0;
  /* background-color: black; */
  font-family: 'Noto Sans KR', sans-serif;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

button:focus {
  border: none;
  outline: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

li {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* 폰트 */

